
@media only screen and (max-width: 1023px) {
    .img-right {
      position: relative;
      right: 0;
      top: 0;
  }
  .testimonial-slider .slick-list{
      margin: 0;
  }
  #dismiss{
      display: block;
  }
  .shapes,
  #testimonials .container:before{
      display: none;
  }
  a.navbar-brand{
      margin-right: 0;
  }
  
  .box-img-left img{
      transform: none;
  }
  .newsletter-inner{
      padding:50px 35px;
  }
  .newsletter-inner .form-control {
      width: 100%;
      margin-bottom:15px;
  }
  .newsletter-inner .btn-subscribe {
      margin-left: 0;
      width:100%;
  }
  
  .slider-avatar {
      position: relative;
      bottom: -25px;
  }
  .medium-avtar {
     line-height: 65px;
     width: 70px;
     margin-right: 10px;
     height: 70px;
  }
  #testimonials .container-page  .row {
      margin-left: 0;
      margin-right: 0;
  }
  .navbar-header .navbar {
      padding: 10px 15px;
  }
  .warpper {
    width: 100%;
    padding: 0;
    min-height: 100vh;
  
  }
  
  #dismiss {
      width: 35px;
      height: 35px;
      color: #1e266d;
      line-height: 35px;
      text-align: center;
      background: #ffffff;
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 8px;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  
  #sidebar.active {
      left: 0;
  }
  
  
  
  
  .ml-auto-mobile{
      /* margin-left: 0!important; */
      margin-right: auto;
      margin-top: 10px;
  }
  
 
  
  .web-login {
      display: none;
  }
  .mobile-login{
      display: block;
  }
  .login-page .col-lg-7{
     min-height: 100%;
  }
  .login-form {
      margin-top: 40px;
      max-width: 300px;
      margin-bottom: 40px;
  } 
  .mobile-login .col-lg-5{
      height: 70vh;
  }
  form{
    transform: rotate(180deg);
    margin-left: -110px;
    margin-top: -20px;
    }
    .fa{
    transform: rotate(270deg);
    }
  }
  
  
  @media only screen and (max-width: 767px) {

      form{
        margin-left: -120px;
      }  
      .icon-block{
          margin-bottom: 30px;
      }
  
  
      .features-text{
          margin-bottom: 30px;
          padding-top: 0;
      }
      .navbar-toggler-icon {
          height: auto;
          color: #1e266d;
          font-size: 25px;
      }
      .table-plan{
          border-right:none;
      }
      .navbar-header .navbar.sticky  .navbar-toggler-icon{
          color: #1e266d;
      }
      .navbar-header .navbar-nav li a {
          color: #ffffff;
          font-size: 15px;
          padding: 10px 20px !important;
          font-weight: 500;
          line-height: 30px;
      }
  
      .navbar-nav {
          background-color: #1e266d;
          padding-bottom: 15px;
          padding-top: 65px;
      }
      .navbar-header .connect-block {
          margin-left: 0;
          margin-top: 0;
      }
      .navbar-header .connect-block a {
          display: block;
      }
      .navbar-header .connect-block .btn-white {
          color: #171f3c !important;
          text-align: left;
      }
      .hero-text {
          padding-top: 80px;
          margin-top: 0;
          margin-bottom: 30px;
      }
      .hero-text h2 {
          font-size: 45px;
          margin-bottom: 20px;
          line-height: 50px;
      }
      .title-h2 {
          font-size: 32px!important;
          line-height: 35px;
      }
      img.img-width {
          width: 100%;
          margin-bottom: 25px;
      }
      .tab_img {
          margin-top: 50px;
      }
      .timeline-p {
          padding-top: 75px;
      }
  
      .features-text,
      .quote-bloc p ,
      .icon-block,
      .blog-inner,
      img.big-img-p,
      .list-menu
      {
          margin-bottom: 30px!important;
          margin-top: 20px;
      }
      .item-inner {
          padding: 50px 30px;
          margin-bottom: 80px;
      }
      .item-inner p {
          font-size: 15px;
          line-height: 24px;
      }
  
  
      .navbar-header .navbar.sticky li a{
        color: #ffffff;
    }
    .navbar-header .navbar.sticky .navbar-nav,
    .navbar-header .navbar.sticky .btn-white {
      background-color: transparent;
  }
  
  .testimonial-slider .slick-arrow.slick-prev {
      left: 35%;
  }
  .testimonial-slider .slick-arrow.slick-next {
      right: 35%;
  }
  .content-form .row.form-group input[type="text"]{
    margin-bottom: 20px!important;
  }
  .content-form {
      padding: 60px 0 0 0;
  }
  .row.row-mobile,
  .img-portfolio.row{
      margin-right: 0;
      margin-left: 0;
  }
  
  .hero{
      height: auto;
      padding-bottom: 0;
  }
  .padd-text {
      margin-bottom: 30px;
      padding-top: 0;
  }
  .hero-padd {
      margin-left: 0;
      margin-right: 0;
      padding-top: 100px;
  }
  .service-block {
      padding-left: 30px;
  }
  .table-plan {
      margin-top: 0;
      margin-bottom: 30px;
      padding: 30px 60px 50px;
  }
  .table-plan.active-table {
      margin-top: 0;
  }
  .blog-item{
      margin-bottom: 30px!important;
  }
  .pd-rg-0 ,.pd-lf-0{
      padding-left: 0!important;
      padding-right: 0 !important;
  }
  
  .copyright p{
      margin-top: 10px;
      line-height: 20px;   
  }
  .testimonial-slider .slick-arrow{
  
      bottom: -12%;
  }
  .testimonial-slider .slick-list{
      padding: 0!important;
  }
  .subscribe-form .btn-subscribe{
      width: 98%;
  }
  .bg-portflio-section, .bg-blog-section{
   padding-bottom: 50px;
   padding-top: 120px;
  }
  .sidebar-side {
      margin-top: 0;
      padding-left: 10px;
      padding-right: 10px;
  }
  .bg-blog-section .title-h2{
   font-size: 24px;    
  }
  
  span.divder{
      display: none;
  }
  .sharebox ul li {
      display: block;
  }
  .sharebox ul li a {
      display: block;
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
  
  }
  .reply-comment {
      padding-left: 0;
  }
  .form-comment input[type="text"] {
      margin-bottom:15px;
  }
  .blog-slider-post .slick-dots {
     left: 42%;
  }
  .bg-portflio-section-1{
    padding-top: 70px;
    padding-bottom: 50px;  
  }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
   .navbar-header .navbar.sticky  .navbar-toggler-icon{
      color: #1e266d;
  }
  
  
  .ipad-login{
      display: none;
  }
  .plan-list li p{
      font-size:13px;
  }
  .medium-avtar {
      margin-right:10px;
      line-height: 50px;
      width: 50px;
      font-size:20px;
      height: 50px;
  }
  .ml-auto-mobile{
      margin-right:70px;
      margin-top:-6px;
  }
  .navbar-toggler-icon {
      font-size: 25px;
  }
  .service-block h3{
    font-size:15px;
    margin-bottom:5px;
  }
  .table-plan{
   padding: 60px 20px 20px 20px;
  }
  .sharebox ul li a {
      padding: 12px 20px;
  }
  .newsletter-block-blog .subscribe-form .form-control{
      width: 80%;
  }
  .item-inner {
      padding: 35px 50px;
      margin-bottom: 80px;
  }
  
  .hero-padd {
      padding-top: 80px;
      padding-bottom: 80px;
  }
  
  .service-block {
      padding-left: 20px;
  }
  
  .icon-block.color2-block {
   top: 0;
   right: 0;
  }
  
  .hero-text{
      padding-top: 80px;
  }
  .hero-text p{
      font-size: 20px;
      line-height:24px;
  }
  .hero {
      height: 100%;
      padding-bottom:80px;
  }
  
  .navbar-header .navbar.sticky li a,
  .navbar-header .navbar.sticky .search-box-btn {
      color: #fff !important;
  }
  .navbar-header .navbar.sticky .navbar-nav,
  .navbar-header .navbar.sticky .btn-white {
      background-color: transparent;
  }
  
  .navbar-header .navbar-nav li a {
      font-size: 15px;
      padding: 10px 12px !important;
      line-height: 30px;
  }
  .hero-text h2 {
      font-size: 45px;
      line-height: 52px;
  }
  .navbar-toggler {
      color: #1e266d;
      font-size: 35px;
      line-height: 38px;
      padding: 15px 0;
      margin-right: 15px;
  }
  .blog-inner h3{
      font-size:18px;
      line-height:24px;
  }
  .title-h2 {
  
      font-size: 32px;
  
      line-height: 42px;
  }
  .navbar-brand {
      padding: 15px;
  }
  .navbar-header .navbar.sticky .navbar-brand {
      padding: 0 15px;
  }
  .navbar-header .navbar.sticky .navbar-toggler {
      padding: 15px 0;
  }
  .navbar-nav {
      padding: 50px 15px;
      background-color: #1e266d;
  }
  .navbar-header .navbar-nav li a {
      color: #ffffff;
      font-size: 15px;
      padding: 10px 12px !important;
      font-weight: 500;
      line-height: 30px;
  }
  #about {
      padding-top: 80px;
  }
  .form-comment .row.form-group {
      margin-bottom: 0;
  }
  .form-comment .form-control {
      margin-bottom: 25px;
  }
  .subscribe-form .form-control {
      width: 80%;
  }
  .catgeorie-list li a span{
   font-size: 12px;
   line-height: 18px;   
  }
  .sidebar-side {
      padding-left: 10px;
      padding-right: 10px;
  }
  .sidebar-post-inner .info-widget-post h5 {
      font-size: 11px;
      line-height: 14px;
  }
  .info-widget-post small {
    font-size: 10px;
  }
  .content-left-blog span.divder:before,
  .comment-block span.divder:before {
      width: 350px;
  }
  span.divder:before{
    width: 280px;  
  }
  .login-page .col-lg-7{
          -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .login-form{
      margin-top: 40%;
  }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
  
      .hero{
          height: auto;
          padding-bottom: 80px;
      }
      .hero-text p{
        font-size: 24px;
    }
    .testimonial-slider .slick-list{
      margin: 0;
  }
  #testimonials .container:before{
      right: 0;
  }
  .img-right{
      width: 65%;
  }
  #nav-tab .nav-item.nav-link {
      padding: 1.5rem 0.5rem;
  }
  .login-page .col-lg-7{
          -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .login-form {
      margin-top: 50%;
      }
  #dismiss,
  .ipad-login{
      display: none;
  }
  .medium-avtar {
      line-height: 70px;
      margin-right: 10px;
      width: 70px;
      height: 70px;
  }
  .hero-text h2{
      font-size: 50px;
      line-height:38px;
  }
  .hero-text {
      padding-top: 100px;
  }
  .sharebox ul li a {
      padding: 12px 30px;
  }
  .item-inner {
      padding: 30px 20px;
  }
  .subscribe-form .form-control{
  
      width: 82%;
  }
  .subscribe-form .btn-subscribe{
      width: 96%;
  }
  .content-left-blog span.divder:before,
  .comment-block span.divder:before {
      width: 550px;
  }
  
  }
  

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #1e266d;

  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

 
 
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;

}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }

}

